<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello <span th:remove="tag" th:text="${name}">...</span>!</h1>
        <p>Congratulations you have successfully authenticated with Spring Security.</p>
        <p>user: <pre th:text="${user}">...</pre></p>
        <p>name: <pre th:text="${name}">...</pre></p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>